
.symptomBlock  {
  left: 0;
  position: absolute;
  transform-origin: 300px ;
}

.symptom{
  position: relative;
  cursor: pointer;
}

.description {
  position: absolute;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 122% ;
  top: 50%;
  transform: translate(0, -50%);
  width: max-content;
  max-width: 242px;
}
