.symptomBlock {
  left: 0;
  position: absolute;
  transform-origin: 300px;
}

.symptom {
  position: relative;
  cursor: pointer;
}

.description {
  position: absolute;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 122%;
  top: 50%;
  transform: translate(0, -50%);
  width: max-content;
  max-width: 242px;
}

.plusIcon {
  border-radius: 50%;
  background: #1A6EA0;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  width: 41px;
  height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}