.block {
  padding: 15px 20px 15px 20px;
  max-width: 578px;;
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid #068CA6;
  box-shadow: 0px 4px 4px rgba(6, 140, 166, 0.31);
  border-radius: 10px;

}

.layout {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 2;
  row-gap: 20px;
}