.layout{
  display:flex;
  justify-content: space-between;
  column-gap: 10px;
  padding-bottom: 100px;
}

@media(max-width: 1023.9px){
  .layout{
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
  }
}