.block {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #2A477D;
  padding-bottom: 35px;
}

.tip {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #068CA6;
}
